*{   
     margin: 0%; 
     padding: 0%;
     box-sizing: border-box;
 }

 body{
   background-color: blanchedalmond;
 }
 

 header{
   padding: 10px;
   text-align: center;
   background-color: salmon;
 }

 header nav ul li{
   margin-top: 20px;
   border: solid 3px;
   display: inline-block;
   padding: 10px;
   background-color: blanchedalmond;
}

a{
   text-decoration: none;
   color: black;
}

 main{
   text-align: center;
 }
 
 main h1{
   margin-bottom: 20px;
 }

 main p{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 40px;
   font-size: 20px;
 }

.imagen1{
   width:300px;
   height:300px;
}

.imagen2{
   width: 300px;
   height: 300px;

}

.imagen3{
   width: 300px;
   height: 300px;
}

.imagenes{
   display: flex;
   margin-left: 450px;
   margin-right: 350px;
   width: 300px;
   height: 300px;
}

.imagenesproductos{
   display: flex;
   margin-left: 150px;
   margin-right: 250px;
   font-size: 20px;
}

.producto3{
   margin-left: 50px;
}

.caja img{
   width: 250px;
   height: 250px;
}


main  div h2{
   padding: 15px
}

 .logo{
    width: 200px;
    height: 200px;
 }


.tiktok{
   width: 300px;
   height: 300px;
}

.instagram{
   width: 300px;
   height: 300px;
}

main h1{
   font-size: 50px;
}

 .formulario{
   background-color:blanchedalmond;
   width: 700px;
   border-color: black;
   font-size: 30px;
   padding: 20px;
   border-radius: 4px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: black;
   position: relative;
   left: 600px;
}

.formulario legend{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 35px;
}

.controls{
   width: 600px;
   font-size: 40px;
   padding: 15px;
}

table{
   border: 10px solid black;
   font-size: 20px;
}

.tabla{
   background-color:blanchedalmond;
   color:black;
   position: relative;
   left: 750px;
}
   
tbody{
   font-size: 20px;
   background-color: salmon;
   color:black;
}

td{
   padding: 15px;
   border-bottom: solid 1px black;
}

.ropa{
   font-size: 35px;
   padding: 15px;
}

footer{   
   display: inline-block;  
   background-color:salmon ; 
   padding: 20px;    
   width: 100%;     
   position: absolute;   
   bottom: 0%; 
   font-family: 'Times New Roman', Times, serif;
   color: black;
 }

 .footerguia{
   bottom: -600px;
 }

 .footerredes{
   bottom: -250px;
 }
